/*Design for Tiger Analyzer App Surface (UI)*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    overflow: hidden;
    scroll-behavior: smooth;
    padding-bottom: 100px;
}

html {scroll-behavior: smooth;}

.grid-container {
    margin-top: 15px;
    margin-left: 10px;
    height: 600px;
    width: 770px;
    background-color: #FFF;
    box-shadow: 2px 2px 5px rgb(209, 206, 206);
    border-radius: 20px;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    position: relative;
}

.grid-container.active {
    display: block;
}

.grid-container.inactive {
    display: none;
}

.grid-container > .grid-group {
    display: grid;
    width: 100%;
    height: 95%;
    column-gap: 10px;
    row-gap: 10px;
}

.grid-group > .grid-item {
    background-color: #ECF0F1;
    border-radius: 25px;

}

.tiger-scrollbar::-webkit-scrollbar {
    width: 10px;
}


.tiger-scrollbar::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom left, #8d98ea, #0d8dad);
    border-radius: 25px;
}

.tiger-scrollbar::-webkit-scrollbar-track {
    border-radius: 25px;

    background-color: rgb(249, 246, 246);
}

.data-match-raw-display, .data-team-raw-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    row-gap: 4px;
    overflow-y: scroll;
    flex-shrink: 0;
    overflow-x: hidden;
}

.data-team-raw-display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.data-match-raw-display > .entry {
    width: 96%;
    height: 30px;
    padding: 5px 0px 5px 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Gilroy";
    background-color: white;
}


.match-overview-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.match-overview-screen > .team-select-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 95%;
    border-radius: 25px;
    gap: 20px;
    height: 25px;
    background-color: white;
    margin-bottom: 3px;
}

.match-overview-screen > .team-select-bar > .team-select-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 20px;
    gap: 8px;

}


.team-select-set > .red-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    background: linear-gradient(to bottom right, #ee8655, #ff2a00);
}

.team-select-set > .blue-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    background: linear-gradient(to bottom right, #4358f4, #333feb);
}

.team-select-bar > .team-select-set > .team-select {
    width: 30%;
}


.blue-team-select {
    justify-self: flex-start;
}

.red-team-select {
    justify-self: flex-end;
}

.match-overview-screen > .alliance-group {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 235px;
}

.alliance-group > .team-card {
    width: 32%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: "Gilroy";
    font-size: 14px;
}

.team-card > .label {
    font-size: 20px;
    margin-top: 10px;
}

.team-card > .team-name {
    font-size: 12px;
    color: #ECF0F1;
}

.team-card > .cones-row, .team-card > .cubes-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5px;
    gap: 10px;
}

.cones-row > .cone-table, .cubes-row > .cube-table {
    /* Space out the columns of a table more */
    border-spacing: 5px;

}

.cones-row > .caption-icon, .cubes-row > .caption-icon {
    width: 30px;
    height: 30px;
    flex-grow: 0;
    justify-self: flex-start;
}



.alliance-group.red > .team-card {
    background: linear-gradient(to bottom right, #f47878, #cd1919);
}

.alliance-group.blue > .team-card {
    background: linear-gradient(to bottom right, #8d98ea, #0715dd);
}

.match-overview-screen > .vs-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.vs-separator > .line {
    height: 2px;
    background-color: black;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vs-separator > .vs {
    font-family: "Gilroy";
    padding: 0 0rem;
    user-select: none;
}

.line > .export-button {
    height: 20px;
    width: 20px;
    display: flex;
    font-family: "Gilroy";
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    background: white;
    border: 2px solid black;
}

.data-match-raw-display > .label {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    font-family: "Gilroy";
    box-sizing: border-box; 
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
    border-left: 0px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    color: white;
    align-self: flex-start;
}

.team-entry > .label {
    font-size: 28px;
    color: white;
}

.team-entry > .team-name {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 0px;
}

.team-entry > .cone-table, .team-entry > .cube-table { /*Should I change this from cone-table to a different class name?*/
    width: 90%;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.cone-table > caption, .cube-table > caption {
    caption-side: top;
    text-align: center;
}

.cone-table > caption > .caption-icon, .cube-table > caption > .caption-icon {
    width: 30px;
    height: 30px;
    transform: translateX(0%);
}


.data-team-raw-display > .team-entry {
    width: 45%;
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    font-family: "Gilroy";
    padding: 10px 0px 50px 0px;
    flex-shrink: 0;
    margin-top: 20px;
    position: relative;
}

.team-entry > .dot-menu {
    position: absolute;
    right: 5%;
    top: 0px;
    color: black;font-size: 22px;
    z-index: 2;
}

.team-entry > .card-options-menu {
    width: 0px;
    height: 100%;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-left: #912c00 solid 3px;
    gap: 10px;
    right: 0px;
    transition: 0.2s;
    opacity: 0;
}

.card-options-menu.visible {
    width: 150px;
    opacity: 1;
}

.card-options-menu > .card-option {
    width: 80%;
    height: 25px;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(top left, #0d8dad, #0d8dad);
    background: -moz-linear-gradient(top left, #0d8dad, #0d8dad);
    background: linear-gradient(to bottom right, #0d8dad, #0d8dad);
}

.team-entry > .dot-menu:hover {
    cursor: pointer;
}

.team-entry > .station-table {
    width: 90%;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.station-table > caption {
    margin-bottom: 5px;
}

td > .percentage-bar {
    width: 50px !important;
    height: 50px !important;
    stroke-linecap: round;
}
.percentage-bar > .ldBar-label {
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.station-text {
    font-size: 12px;
}

.analysis-options-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}


.analysis-ranking-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.analysis-ranking-board > .analysis-ranking-option-bar {
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
}

.analysis-ranking-board > .rankings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.analysis-ranking-option-bar > .comparison-team-option {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #F45C43;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    font-family: "Gilroy";
}

.analysis-rank-entry {
    margin-top: 10px;
    width: 95%;
    height: 100px;
    border-radius: 25px;
    background-color: white;
}

.analysis-rank-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.analysis-rank-entry > .id-data {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

}

.id-data > .team-number {
    font-family: "Gilroy";
    font-size: 44px;
    font-weight: bold;
    color: black;
    width: 170px;
}

.id-data > .rank {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.analysis-rank-entry > .rate-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 10px;
    gap: 5px;
}

.rate-data > .rating-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating-group > .rating-label {
    font-family: "Gilroy";
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.rating-bar {
    stroke-linecap: round;
}

.rating-bar > .ldBar-label {
    font-family: "Gilroy";
    font-size: 26px;
    color: orange;
}

.rating-bar > .ldBar-label:after {
    content: "RPV";
    font-size: 12px;
}

.rating-bar.sub-rating {
    width: 60px !important;
    height: 60px !important;

}

.rating-bar.sub-rating > .ldBar-label {
    font-size: 22px;
}

.rating-bar.sub-rating > .ldBar-label:after {
    content: "";
}

.team-select-grid > .select-controls > .select-none:hover, .team-select-grid > .select-controls > .select-all:hover {
    cursor: pointer;
}

.team-select-grid > .select-controls > .select-none {
    border: black 2px solid;
}

/*.team-select-grid > .select-controls > .select-all {
    background: -webkit-linear-gradient(top left, #F45C43, #EB3349);
    background: -moz-linear-gradient(top left, #F45C43, #EB3349);
    background: linear-gradient(to bottom right, #F45C43, #EB3349);
    color: white;
}*/

.team-select-grid > .select-controls > .select-all {
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
    color: white;
}

.team-select-grid > .team-option:hover {
    cursor: pointer;
}

/*.team-select-grid > .team-option.active {
    border: none;
    background: -webkit-linear-gradient(top left, #F45C43, #EB3349);
    background: -moz-linear-gradient(top left, #F45C43, #EB3349);
    background: linear-gradient(to bottom right, #F45C43, #EB3349);
    color: white;
}*/

.team-select-grid > .team-option.active {
    border: none;
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
    color: white;
}

.grid-group.inactive {
    display: none;
}

.grid-group.active {
    display: grid;
}

.dot-nav {
    width: 100%;
    position: absolute;
    bottom: 0%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.dot-nav > .dot {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(243, 239, 239);
    transition: 0.3s;
    
}
.dot-nav > .dot:hover, .dot-nav > .dot.active {
    
    background-color: rgb(243, 239, 239);
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
}

.dot-nav > .dot:hover:not(.active) {
    cursor: pointer;
}

.export-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.export-box > h1 {
    font-family: 'Gilroy';
    font-size: 64px;
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.export-button {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    background: -webkit-linear-gradient(top left, #8d98ea, #0d8dad);
    background: -moz-linear-gradient(top left, #8d98ea, #0d8dad);
    background: linear-gradient(to bottom right, #8d98ea, #0d8dad);
    border: none;
}

.export-button:hover {
    cursor: pointer;
}

.export-button > .export-icon {
    fill: white;
}



.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    gap: 10px;
    padding-top: 20px;
}

.navbar > .nav-item {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #ECF0F1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-image: linear-gradient(to right, #0d8dad 0%, #0d8dad  51%, #43f4c8  100%);
    transition: 0.5s;
    background-size: 200% auto;  
    border-radius: 20px;

    box-shadow: 0px 0px 0px rgb(180, 177, 177);
}
 /*#43f4c8*/
.navbar > .up-arrow {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #0d8dad 0%, #0d8dad  51%, #0d8dad  100%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    transition: 0.3s;
}

.navbar > .up-arrow:hover {
    cursor: pointer;
    background-position: right center;
    box-shadow: 2px 2px 5px rgb(180, 177, 177);
}

.navbar > .nav-item:hover, .navbar > .nav-item.active {
    cursor: pointer;
    background-position: right center;
    box-shadow: 2px 2px 5px rgb(180, 177, 177);
}

 


        

.nav-item > p {
    font-family: 'Gilroy';
    color: #ffffff;
    transition: 0.3s;
    font-size: 18px;
    pointer-events: none;
}

